/* -- INICIO NOSOTROS.HTML -- */
.portadaNosotros {
  margin-top: 20px;
  margin-bottom: 30px;
  color: $colorPrincipal;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.portadaNosotros h1 {
  font-weight: 600;
  font-size: 50px;
}

.team-boxed {
  color: $colorPrincipal;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: $colorSecundario;
  margin: auto;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: $colorPrincipal;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.team-boxed .item .title {
  font-weight: bold;
  color: $colorPrincipal;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.team-boxed .item .description {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.team-boxed .item img {
  width: 260px;
  height: 260px;
  border: 10px solid $colorPrincipal;
  transition: transform 0.5s;
}

.team-boxed .item:hover img {
  transform: scale(1.1);
}

.team-boxed .social {
  font-size: 30px;
  color: #a2a8ae;
}

.team-boxed .social:hover {
  font-size: 30px;
  color: $colorPrincipal;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
  padding: 6px;
}

.team-boxed .social a:hover {
  opacity: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .portadaNosotros h1 {
    font-weight: 600;
    font-size: 30px;
  }

  .team-boxed .item img {
    height: 215px;
    width: 215px;
  }
}
/* -- FINAL NOSOTROS.HTML -- */
