/* -- INICIO PROYECTOS.HTML -- */
.tituloProyectos {
  margin-top: 30px;
  margin-bottom: 40px;
  color: $colorPrincipal;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.tituloProyectos h1 {
  font-weight: 600;
  font-size: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .seccionTitulo h1 {
    font-size: 28px;
    margin: 0px 5px 30px 5px;
  }

  .tituloProyectos h1 {
    font-weight: 600;
    font-size: 30px;
  }
}
/* -- FINAL PROYECTOS.HTML -- */
