/* -- INICIO PROYECTOS.HTML -- */
.jumbotron{
  background-image: url(../Imagenes/Home/portada_opcion1_filtro.png);
  background-size: cover;
  margin-top: 110px;
}

.portadaProyectos h1 {
  margin: 20px 60px 30px 60px;
  font-family: "Poppins", sans-serif;
  color: $colorPrincipal;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.casosExito {
  color: $colorPrincipal;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyecto h3 {
  font-size: 20px;
}

.proyecto {
  width: 378px;
  text-align: center;
  margin: auto;
}

.casosExito img {
  width: 266px;
  height: 260px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 10px solid $colorPrincipal;
  transition: transform 0.5s;
}

.proyecto:hover img {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .casosExito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portadaProyectos h1 {
    font-size: 28px;
    margin: 0px 5px 30px 5px;
  }
}
/* -- FINAL PROYECTOS.HTML -- */
