/* -- INICIO SERVICIOS.HTML -- */
.seccionSistemas h1 {
  color: $colorPrincipal;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  margin: 0px 50px 30px 50px;
}

.formularioServicios h1 {
  color: $colorPrincipal;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  margin: 0px 50px 30px 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .seccionSistemas h1 {
    font-weight: 600;
    font-size: 25px;
    margin: 0px 10px 30px 10px;
  }

  .formularioServicios h1 {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
  }
}
/* -- FINAL SERVICIOS.HTML -- */
