/* INICIO VARIABLES*/
/* FIN VARIABLES*/
* {
  margin: 0px;
  padding: 0px;
}

/* -- INICIO MENU NAVEGACION PARA TODOS LOS HTML -- */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background: #263266;
}

.menu li {
  padding: 20px;
  margin-top: 15px;
}

.menu ul {
  margin-right: 60px;
}

.menu ul li a {
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.menu li a:hover {
  background-color: white;
  color: #263266;
}

/* -- Inicio Header -- */
header img {
  height: 90px;
  width: 227px;
  margin: 0px 0px 0px 110px;
}

@media (max-width: 480px) {
  header img {
    height: 90px;
    width: 227px;
    margin: auto;
  }
  .menu li {
    padding: 0px;
    margin-top: 0px;
  }
  .menu ul {
    margin-top: 10px;
  }
  .menu ul li a {
    font-size: 25px;
  }
}

/* -- Final Header -- */
/* -- FINAL MENU NAVEGACION PARA TODOS LOS HTML -- */
/* -- INICIO FOOTER PARA TODOS LOS HTML -- */
footer {
  padding: 10px;
}

footer img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.piePagina {
  color: white;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #263266;
}

.redesSociales h4 {
  margin-bottom: 10px;
}

.contactoFooter p {
  margin: 0px;
}

@media (max-width: 480px) {
  footer img {
    height: 30px;
    width: 30px;
    margin-right: 0px;
  }
  .redesSociales h4 {
    font-size: 15px;
  }
  .contactoFooter h4 {
    font-size: 15px;
  }
  .contactoFooter p {
    font-size: 15px;
  }
}

/* -- FINAL FOOTER PARA TODOS LOS HTML -- */
/* -- INICIO INDEX.HTML -- */
.seccionPortada {
  padding: 30px;
  margin: 0px 0px 0px -1px;
  height: 580px;
  background-image: url(../Imagenes/Home/portada_opcion1_filtro.png);
  background-size: cover;
}

.seccionPortada__textoPortada--principal {
  color: white;
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 40px 0px 30px 60px;
  line-height: 1.1;
}

.seccionPortada__textoPortada--secundario {
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  margin: 10px 0px 50px 60px;
}

.seccionPortada__botonAsesoria {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: -5px 0px 0px 60px;
}

.seccionPortada__botonAsesoria--link {
  text-decoration: none;
  color: white;
  border: solid 3px white;
  padding: 7px;
  -webkit-transition: background-color 0.8s, color 0.8s;
  transition: background-color 0.8s, color 0.8s;
}

.seccionPortada__botonAsesoria--link:hover {
  background-color: white;
  color: #263266;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.subseccionVentajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subseccionVentajas1 {
  width: 400px;
  text-align: center;
}

.seccionVentajas h1 {
  color: #263266;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.seccionVentajas h2 {
  color: #263266;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 30px;
}

.seccionVentajas h3 {
  color: #263266;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 10px;
}

.subservicio {
  color: #263266;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.subseccionVentajas1 img {
  width: 250px;
  height: 250px;
  margin: 8px 0px 8px 0px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border: 10px solid #263266;
}

.subseccionVentajas1:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.botonServicios {
  color: #263266;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.botonServicios a {
  text-decoration: none;
  color: #263266;
  border: solid 3px #263266;
  padding: 7px;
  -webkit-transition: background-color 0.8s, color 0.8s;
  transition: background-color 0.8s, color 0.8s;
}

.botonServicios a:hover {
  background-color: #263266;
  color: white;
}

@media screen and (max-width: 480px) {
  .seccionPortada {
    padding: 30px;
    margin: 0px 0px 0px -1px;
    height: 530px;
    background-image: url(../Imagenes/Home/portada_opcion1_filtro.png);
  }
  .seccionPortada__textoPortada--principal {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    margin: 50px 0px 0px 20px;
    line-height: 1.1;
  }
  .seccionPortada__textoPortada--secundario {
    font-size: 23px;
    margin: 30px 0px 30px 20px;
  }
  .seccionPortada__botonAsesoria {
    font-size: 20px;
    margin: 40px 0px 0px 20px;
  }
  .seccionPortada__botonAsesoria--link:hover {
    font-size: 20px;
  }
  .subseccionVentajas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* -- FINAL INDEX.HTML -- */
/* -- INICIO SERVICIOS.HTML -- */
.jumbotron {
  background-image: url(../Imagenes/Home/portada_opcion1_filtro.png);
  background-size: cover;
  margin-top: 110px;
}

.seccionSoluciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.seccionSistemas h1 {
  color: #263266;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 30px;
}

.seccionTitulo h1 {
  color: white;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.seccionSoluciones h3 {
  font-size: 22px;
}

.seccionSoluciones {
  color: #263266;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.seccionSoluciones img {
  width: 260px;
  height: 260px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: 10px solid #263266;
}

/* -- Inicio Formulario de Servicios -- */
.preFormulario {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #263266;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contenedorFormulario > * {
  padding: 0 5em 0 5em;
}

.seccionFormulario {
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: #263266;
  font-size: 20px;
}

.seccionFormulario form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin: auto;
}

.seccionFormulario form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.seccionFormulario form p {
  margin: 0;
  padding: 0;
}

.seccionFormulario form button,
.seccionFormulario form input,
.seccionFormulario form textarea {
  width: 100%;
  padding: 0.7em 0 0.7em 0;
  border: none;
  background: none;
  border-bottom: 3px solid #263266;
  outline: 0;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #263266;
}

.seccionFormulario form button {
  color: #263266;
  background: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 3px solid #263266;
}

.seccionFormulario form button:hover {
  background-color: #263266;
  color: white;
  font-size: 20px;
  border-bottom: 3px solid #263266;
}

@media (max-width: 480px) {
  .seccionSistemas h1 {
    font-weight: 600;
    font-size: 28px;
  }
  .seccionFormulario form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0px 10px 0px 10px;
  }
  .contenedorFormulario > * {
    padding: 0;
  }
  .seccionFormulario form .block {
    grid-column: auto;
  }
  .seccionSoluciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .preFormulario h1 {
    font-weight: 600;
    font-size: 28px;
  }
  .seccionTitulo h1 {
    font-size: 40px;
  }
}

/* -- Final Formulario de Servicios -- */
/* -- FINAL SERVICIOS.HTML -- */
/* -- INICIO NOSOTROS.HTML -- */
.jumbotron {
  background-image: url(../Imagenes/Home/portada_opcion1_filtro.png);
  background-size: cover;
  margin-top: 110px;
}

.portadaNosotros {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #263266;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.portadaNosotros h1 {
  font-weight: 600;
  font-size: 50px;
}

.portadaNosotros h2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 40px;
}

.equipoTrabajo {
  color: #263266;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.equipo {
  width: 400px;
  text-align: center;
  font-size: 20px;
}

.equipo h3 {
  margin-bottom: 0px;
  margin-top: 15px;
}

.equipoTrabajo h3 {
  font-size: 30px;
}

.equipoTrabajo img {
  width: 260px;
  height: 260px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: 10px solid #263266;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.equipo:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 800px) {
  .equipoTrabajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portadaNosotros h1 {
    font-weight: 600;
    font-size: 28px;
  }
  .jumbotron h1 {
    text-align: center;
  }
}

/* -- FINAL NOSOTROS.HTML -- */
/* -- INICIO PROYECTOS.HTML -- */
.jumbotron {
  background-image: url(../Imagenes/Home/portada_opcion1_filtro.png);
  background-size: cover;
  margin-top: 110px;
}

.portadaProyectos h1 {
  margin: 20px 60px 30px 60px;
  font-family: "Poppins", sans-serif;
  color: #263266;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.casosExito {
  color: #263266;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyecto h3 {
  font-size: 20px;
}

.proyecto {
  width: 378px;
  text-align: center;
  margin: auto;
}

.casosExito img {
  width: 266px;
  height: 260px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 10px solid #263266;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.proyecto:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 800px) {
  .casosExito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portadaProyectos h1 {
    font-size: 28px;
    margin: 0px 5px 30px 5px;
  }
}

/* -- FINAL PROYECTOS.HTML -- */
/* INICIO CONTACTO.HTML */
.mapaResponsive {
  overflow: hidden;
  padding-bottom: 45%;
  margin-bottom: 20px;
  margin-top: 110px;
  position: relative;
}

.mapaResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* FINAL CONTACTO.HTML */
/*# sourceMappingURL=styles.css.map */